$button: #4d4d4d;
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

#app {
    height: 100vh;  /* height of the viewport */
    display:flex; /* flexible responsive layout structure */
    align-items: center; /* alignment for items inside the flexible container */
    justify-content: center; /* property aligns the flexible container's items */

}

body {
    background: #c2c2d6; /* background settings */
    -webkit-touch-callout: none;
    -moz-user-select: none; /* controlls the looks of the selection */
    -ms-user-select: none;
    -webkit-user-select: none; /* controlls the looks of the selection */
    user-select: none; /* controlls the looks of the selection */
    cursor: default; /* allows control over the looks of the cursor */
}

.calculator {
    border: 2px solid #47476b;
}